/* Class */
.central {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-outline-primary {
    font-size: 19px;
    cursor: pointer;
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-iteration-count: linear;
    animation-timing-function: linear;
}

.btn-outline-primary:hover {
    font-size: 19px;
    cursor: pointer;
    border-radius:10px;
}

.nav-item {
    font-size:17px;
}

.nav-item:hover {
    color: #1597BB !important;
}

.btn{
    width: 140px;
}




/* Ids */
#Nav-Bar{
    box-shadow: 0px 2px 3px black;
}

#Subtitle{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 16px;
}

#Title-Introduction{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 48px;
}

h1 {
    font-size: 40px;
    color: #363636;
}

#logo{
    width:7%;
    border-radius: 10px;
}